<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Sommatore</title>
  </head>
  <body>
    <div class="container">
      <div class="result">
        <span class="result__msg">Sum is</span>
        <span class="result__value"><%= result %></span>
      </div>
      <span class="link"><a href="/">Back</a></span>
    </div>
  </body>
</html>
